.popup {
  padding: 20px;
  min-width: 200px;
  width: max-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  &.dark {
    background: #222;
    color: #fff;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formItem {
  margin-bottom: 1rem;
}

.themeToggle {
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 12px;
  width: max-content;
}
