<div class="popup" [ngClass]="{ dark: darkMode }">
  <div class="container">
    <button class="themeToggle" (click)="toggleDarkMode()">
      Toggle Dark Mode
    </button>
    <div>
      <h2>Current Tab Info</h2>
      <p>Title: {{ tabTitle }}</p>
      <p>URL: {{ tabUrl }}</p>
    </div>
    <div *ngIf="inputs.length">
      <h2>Detected Inputs</h2>
      <ul>
        <li *ngFor="let input of inputs" class="formItem">
          Tag: {{ input.tag }}<br />
          Type: {{ input.type }}<br />
          Name: {{ input.name }}<br />
          Placeholder: {{ input.placeholder }}<br />
          ID: {{ input.id }}<br />
          Class: {{ input.className }}<br />
          Required: {{ input.required }}<br />
          Disabled: {{ input.disabled }}<br />
          Value: {{ input.value }}<br />
        </li>
      </ul>
    </div>
  </div>
</div>
