.popup {
  padding: 20px;
  min-width: 200px;
  width: max-content;

  &.dark {
    background: #222;
    color: #fff;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  margin-bottom: 1rem;
}
