<div class="popup" [ngClass]="{ dark: darkMode }">
  <div class="container">
    <button class="themeToggle" (click)="toggleDarkMode()">
      Toggle Dark Mode
    </button>
    <div>
      <h2>Current Tab Info</h2>
      <p>Title: {{ tabTitle }}</p>
      <p>URL: {{ tabUrl }}</p>
    </div>
    <div *ngIf="forms.length">
      <h2>Detected Forms</h2>
      <ul>
        <li *ngFor="let form of forms" class="formItem">
          Action: {{ form.action }}<br />
          Method: {{ form.method }}<br />
          ID: {{ form.id }}<br />
          Class: {{ form.className }}
        </li>
      </ul>
    </div>
  </div>
</div>
